@page "/"
@using MyHumbleWebSite.Infrastructure
@using System.Timers
@inject IJSRuntime jsRuntime


@code {
    private Game _game = new NullGame();
    private readonly KeyBoard _keyBoard = new();
    private static Timer _timer;

    protected override void OnInitialized()
    {
        StartTimer();
    }

    private void StartTimer()
    {
        _timer = new Timer(150);
        _timer.Elapsed += Tick;
        _timer.Enabled = true;
    }

    private void Tick(object source, ElapsedEventArgs e)
    {
        _game.Tick();
        InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("setKeyBoardRef", DotNetObjectReference.Create(_keyBoard));
        var browserDimension = await jsRuntime.InvokeAsync<BrowserDimension>("getDimensions");
        if (_game is NullGame)
        {
            _game = new Game(browserDimension.Width, browserDimension.Height);
            _keyBoard.OnKeyStroked += KeyStroked;
        }
    }

    private void KeyStroked(object sender, KeyBoard.OnKeyStrokedArgs args)
    {
        _game.KeyStroked(args.Key);
    }

}

 
    <div>
        <img src="/BrandBlazor_big_with_border.png" style="float:left; width:40px"/>
        <blockquote class="blockquote" style="display:inline">
            <p class="mb-0" style="font-size:0.9em">Snake - use the arrows to control the Snake and Space to start a new game.</p>
            <footer class="blockquote-footer" style="font-size:0.8em">
                Made with Blazor -
                <cite title="Source Title">
                    <a href="https://github.com/ChristopheDEBOVE/christophedebove.github.io" target="_blank">Sources</a>
                </cite>
            </footer>
        </blockquote>
    </div>


    <div id="theCanvas" style="position: fixed; opacity: 1; background-color: black; width: 80%; height: 80%; border: #5c2d91 2px solid;">
        <GameGrid Game="@_game"></GameGrid>
    </div>
